<h1>The students in the class are </h1>
<% students.map((student, index)=>{ %>
	<li><%= student.name %></li>
	
<%})%>

<div>
	<a href="/addNew">Add a new student</a>
	<a href="/deleteStudent">Delete a student</a>
</div>